.app {
  font-family: "Rubik", sans-serif;
}
:root {
  --red: #fe0a74;
  --black: #270212;
  --grey: #fbfbfb;
  --blue: #293b5f;
}
.button {
  background-color: var(--red);
  color: white;
  width: 170px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  /* margin-inline: auto; */
  margin: 0px auto;
}
@media screen and (min-width: 768px) {
  .button {
    margin: 0%;
  }
  .card {
    background-color: var(--grey);
  }
  .card:nth-child(3) {
    background-color: white;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .card:nth-child(3) .card__Image {
    flex: 0;
  }
  .card:nth-child(3) .card__Content {
    margin-left: 0;
  }
}
