.card__ImageBackground {
  border: 20px solid var(--red);
  height: 195px;
  width: 195px;
}

@media screen and (min-width: 768px) {
  .card__Image {
    flex: 0.5;
  }
  .card__Content {
    flex: 0.5;
  }
}
@media screen and (min-width: 999px) {
  .card__ImageBackground {
    height: 312px;
    width: 312px;
  }
}
