.hero__Link {
  background-color: var(--red);
  color: white;
  width: 170px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-right: 13px;
}
.hero__Link:nth-child(2) {
  background-color: var(--black);
}
